<div class="ui inverted huge borderless fluid menu">
  <div class="ui container">
    <a class="header item" href="/">Photo Bomb</a>
    <div class="right menu">
      <div class="item">
        <div class="ui small input">
          <input placeholder="Search..." [(ngModel)]="term" >
          <button class="ui button" (click)="search()">
            <i class="search icon"></i>
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui basic segment main" [ngClass]="{'loading': loading}">
  <div class="ui container">
    <div class="ui message" *ngIf="!data">
      <div class="header">
        Instruction
      </div>
      <p>Please type in the input box to search for photos.</p>
    </div>

    <div class="ui four cards" *ngIf="data">
      <div class="card" *ngFor="let photo of data.photos">
        <div class="content">
          <div class="right floated meta">{{photo.taken_at | amTimeAgo }}</div>
          <img class="ui avatar image" [src]="photo.user.userpic_url"> {{photo.user.username}}
        </div>
        <div class="image">
          <img [src]="photo.images[0].url">
        </div>
        <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            {{photo.favorites_count}}
          </span>
          <i class="comment icon"></i>
          {{photo.comments_count}}
        </div>
        <div class="extra content">
           <div class="description" *ngIf="photo.description">
             {{photo.description | truncate : 50}}
          </div>
          <div class="description" *ngIf="!photo.description">
             no description
          </div>
        </div>
      </div>
    </div>
  </div>
</div>